<div class="chatbox">
    <div class="card user-count">
      <div class="card-body">
        <span class="roomname"></span>: <span class="users"></span>
      </div>
    </div>
    <div class="chat-area">
      <ul class="chat-list"></ul>
    </div>
    <form class="main-input">
      <div class="form-group d-flex">
        <input type="text" id="chatInput" class="form-control username" aria-describedby="youtubeURL" placeholder="Enter Your Name..." required>
        <button type="reset" class="btn btn-outline-light">&times;</button>
        <button type="button" class="btn btn-outline-light user-join">JOIN</button>
      </div>
    </form>
</div>