<div class="row modal fade room-modal" data-backdrop="static" data-keyboard="false" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="Room" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="roomModalTitle">Create or Join A Room</h5>
        </div>
        <div class="modal-body">
            <form class="modal-input">
                <div class="form-group d-flex">
                  <input type="text" class="form-control roomname" aria-describedby="roomName" placeholder="Enter Room Name..." required>
                  <button type="reset" class="btn btn-outline-light">&times;</button>
                  <button type="button" class="btn btn-outline-light room-join">JOIN</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>