<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <div class="container">
      <% include ../partials/room %>
      <div class="header row">
        <div class="col-12 d-flex">
          <a href="/" class="home flex-grow-1 d-flex">
            <img src="/images/logo.png" alt="One Tube Logo"> 
            <h1 class="title">OneTube</h1>
          </a>
          <button type="submit" class="btn btn-outline-light sync">SYNC</button>
        </div>
      </div>
      <div class="row">
        <form class="col-lg-8 url-input">
            <div class="form-group d-flex">
              <input type="url" id="urlMain" class="form-control url-main" aria-describedby="youtubeURL" placeholder="Paste Youtube Video URL..." required>
              <button type="reset" class="btn btn-outline-light url-reset">&times;</button>
              <button type="button" class="btn btn-outline-light url-load">LOAD</button>
            </div>
        </form>
      </div>
      <div class="row">
        <div class="col-lg-8" id="player"></div>
        <div class="col-lg-4">
          <% include ../partials/chatbox %>
      </div>
    </div>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/room.js"></script>
    <script src="/javascripts/player.js"></script>
    <script src="/javascripts/chatbox.js"></script>
  </body>
</html>
