body {
  background-color: #18151a;
  color: white;
}

.btn {
  font-family: 'Pathway Gothic One', sans-serif;
  border-color: #18151a;
}

.btn:hover {
  background-color: #e9190f;
  color: white;
  border-color: #e9190f;
}

.header {
  margin-top: 10px;
  border-bottom: 1px solid white;
  animation: borderColor 5s infinite;
}

.header .home {
  color: inherit;
  text-decoration: none
}

.header img {
  height: 55px;
  width: 60px;
}

.header .title {
  margin-top: 10px;
  letter-spacing: -3px;
  margin-left: 5px;
  font-family:'Pathway Gothic One', sans-serif;
  font-size: 2rem;
}

.header .sync {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
}

.url-input {
  margin-top: 15px;
}

.url-input .url-load {
  width: 10%;
  margin-left: 10px;
}

.form-control {
  background-color: #18151a;
  border: none;
}

.form-control:focus {
  background-color: #18151a;
  color: white;
  border: 1px solid;
  border-color: #e9190f;
  box-shadow: none;
}

@keyframes borderColor {
  0%   {border-color: red;}
  20%  {border-color: palevioletred;}
  40%  {border-color: cyan;}
  60%  {border-color: orange;}
  80%  {border-color: purple;}
  100% {border-color: red;}
}

.chatbox {
  height: 100%;
}

.chatbox .user-count {
  background-color: black;
}

.chatbox .chat-area {
  height: 320px;
  overflow: auto;
}

.chatbox .chat-list {
  padding: 0;
}

.chat-area::-webkit-scrollbar {
  display: none;
}

.chat-area {
  -ms-overflow-style: none;
}

.chatbox .username {
  font-size: 13px;
}

.chatbox .user-count .card-body {
  text-align: center;
  padding: 0.25rem;
  font-size: 15px;
  font-family:'Pathway Gothic One', sans-serif;
}

.chatbox .user-joined {
  text-align: center;
  color: #e9190f;
  font-size: 11px;
  padding: 5px;
  list-style: none;
  font-weight: bold;
}

.chatbox .user-msg {
  font-size: 13px;
  list-style: none;
  word-break: break-all;
}

.chatbox .name {
  color: gray;
}

.modal .modal-content {
  background: #18151a;
}

.modal .modal-title {
  line-height: 0;
  font-family:'Pathway Gothic One', sans-serif;
}

.modal .modal-header {
  justify-content: center;
}